<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.scalatest">
<stringAttribute key="SCALATEST_LAUNCH_INCLUDE_NESTED" value="false"/>
<setAttribute key="SCALATEST_LAUNCH_TESTS_NAME">
<setEntry value="Feature: The user can pop an element off the top of the stack Scenario: pop is invoked on a non-empty stack"/>
</setAttribute>
<stringAttribute key="SCALATEST_LAUNCH_TYPE" value="SUITE"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ExampleSpecGWT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="scalatest_first"/>
</launchConfiguration>
